{% extends 'index.html' %}


{% block content %} 
<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Satement Of Financial Position</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
            class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md  text-center">
        <thead>
          <tr>
            <th class="text-center">Indicatator</th>
            <th class="text-center">Identifier</th>
            <th class="text-center">Dec31 2008</th>
            <th class="text-center">Dec31 2009</th>
            <th class="text-center">Index</th>
            <th class="text-center">Dec31 2010(Forecast)</th>

            <th class="text-center">Remove</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th class="text-center">Assets</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>

            <th class="text-center"></th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th class="text-center font-weight-bold">Current Assets</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>

            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pt-3-half" contenteditable="true">Property, plant and equipment</td>
            <td class="pt-3-half" contenteditable="true">cAsset</td>
            <td class="pt-3-half" id="property-1"   contenteditable="true">6</td>
            <td class="pt-3-half" id="property-2" contenteditable="true">0</td>
            <td class="pt-3-half" id="property-index" contenteditable="true">0</td>
            <td class="pt-3-half" id="property-3" contenteditable="true">0</td>
            <td>
              <span class="table-remove"><button type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
            </td>
          </tr>
          <!-- This is our clonable table line -->
          <tr>
            <td class="pt-3-half" contenteditable="true">Investment property</td>
            <td class="pt-3-half" contenteditable="true">cAsset</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td>
              <span class="table-remove"><button type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
            </td>
          </tr>
          <!-- This is our clonable table line -->
          <tr>
            <td class="pt-3-half" contenteditable="true">Goodwill</td>
            <td class="pt-3-half" contenteditable="true">cAsset</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td>
              <span class="table-remove"><button type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
            </td>
          </tr>
          <!-- This is our clonable table line -->
          <tr class="hide">
            <td class="pt-3-half" contenteditable="true">Intangible assets other than goodwill</td>
            <td class="pt-3-half" contenteditable="true">cAsset</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td>
              <span class="table-remove"><button type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
            </td>
          </tr>

        <tr class="hide">
            <td class="pt-3-half" contenteditable="true">Non-current inventories</td>
            <td class="pt-3-half" contenteditable="true">cAsset</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td class="pt-3-half" contenteditable="true">0</td>
            <td>
              <span class="table-remove"><button type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
            </td>
          </tr>

        <tr class="hide">
            <td class="pt-3-half table-dark" contenteditable="true">Total Non Current Assets</td>
            <td class="pt-3-half table-dark" contenteditable="true"></td>
            <td class="pt-3-half table-dark" contenteditable="true">0</td>
            <td class="pt-3-half table-dark" contenteditable="true">0</td>
            <td class="pt-3-half table-dark" contenteditable="true">0</td>
            <td class="pt-3-half table-dark" contenteditable="true">0</td>
            <td>
              <span class="table-remove"><button type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
<br>
<br>
<br>
<div class="container">
  <div class="row">


    <div class="col-8">
          <div id="myKanban"></div>



    </div>


  </div>
</div>


    
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){

});
</script>
<script>
  const $tableID = $('#table');
 const $BTN = $('#export-btn');
 const $EXPORT = $('#export');

 const newTr = `
<tr class="hide">
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half">
    <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a></span>
    <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a></span>
  </td>
  <td>
    <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light">Remove</button></span>
  </td>
</tr>`;

 $('.table-add').on('click', 'i', () => {

   const $clone = $tableID.find('tbody tr').last().clone(true).removeClass('hide table-line');

   if ($tableID.find('tbody tr').length === 0) {

     $('tbody').append(newTr);
   }

   $tableID.find('table').append($clone);
 });

 $tableID.on('click', '.table-remove', function () {

   $(this).parents('tr').detach();
 });

 $tableID.on('click', '.table-up', function () {

   const $row = $(this).parents('tr');

   if ($row.index() === 0) {
     return;
   }

   $row.prev().before($row.get(0));
 });

 $tableID.on('click', '.table-down', function () {

   const $row = $(this).parents('tr');
   $row.next().after($row.get(0));
 });

    console.log("muno");
   $("#property-1").change(function(){
      console.log("muno");
    alert("The text has been changed.");
  });

  $tableID.on('change','#property-1', function(){
      console.log("munomu");
  })

 // A few jQuery helpers for exporting only
 jQuery.fn.pop = [].pop;
 jQuery.fn.shift = [].shift;

 $BTN.on('click', () => {

   const $rows = $tableID.find('tr:not(:hidden)');
   const headers = [];
   const data = [];

   // Get the headers (add special header logic here)
   $($rows.shift()).find('th:not(:empty)').each(function () {

     headers.push($(this).text().toLowerCase());
   });

   // Turn all existing rows into a loopable array
   $rows.each(function () {
     const $td = $(this).find('td');
     const h = {};

     // Use the headers from earlier to name our hash keys
     headers.forEach((header, i) => {

       h[header] = $td.eq(i).text();
     });

     data.push(h);
   });

   // Output the result
   $EXPORT.text(JSON.stringify(data));
 });

 function myFunction(){
     console.log("ngoni");
     var property1 = $("#property-1").text();
     var property2 = $("#property-2").text();
     console.log('1st',property1);
      console.log('1st',property2);
      console.log($("#property-2").text(property1+property2));
      $("#property-2").text(property1+property2)

 }



$(document).on("DOMSubtreeModified", "#property-1", function () {
    var ngoni = [];
    var property1 = parseInt($("#property-1").text());
    ngoni.push(property1);
    console.log('1st',property1);
    console.log(ngoni);
    var counter = false;

     $(function(){
    $('#table').on('click', 'td', function(){
        if(counter===false){

            var property1 = ngoni[0];
            console.log("chibaba",property1);
            var property2 = parseInt($("#property-2").text());
            $("#property-2").text(property1 + property2)
            console.log("chimdara",property1 + property1)


        }
        counter = true;

    });
});
});
 

</script>
 <script>
      var KanbanTest = new jKanban({
        element: "#myKanban",
        gutter: "10px",
        widthBoard: "300px",
        itemHandleOptions:{
          enabled: true,
        },
        click: function(el) {
          console.log("Trigger on all items click!");
        },
        dropEl: function(el, target, source, sibling){
          console.log(target.parentElement.getAttribute('data-id'));
          console.log(el, target, source, sibling)
        },
        buttonClick: function(el, boardId) {
          console.log(el);
          console.log(boardId);
          // create a form to enter element
          var formItem = document.createElement("form");
          formItem.setAttribute("class", "itemform");
          formItem.innerHTML =
            '<div class="form-group"><textarea class="form-control" rows="2" autofocus></textarea></div><div class="form-group"><button type="submit" class="btn btn-primary btn-xs pull-right">Submit</button><button type="button" id="CancelBtn" class="btn btn-default btn-xs pull-right">Cancel</button></div>';

          KanbanTest.addForm(boardId, formItem);
          formItem.addEventListener("submit", function(e) {
            e.preventDefault();
            var text = e.target[0].value;
            KanbanTest.addElement(boardId, {
              title: text
            });
            formItem.parentNode.removeChild(formItem);
          });
          document.getElementById("CancelBtn").onclick = function() {
            formItem.parentNode.removeChild(formItem);
          };
        },
        addItemButton: true,
        boards: [
          {
            id: "_todo",
            title: "Expenses 2020",
            class: "info,good",
            dragTo: ["_working"],
            item: [
              {
                id: "_test_delete",
                title: "Rent $60",
                drag: function(el, source) {
                  console.log("START DRAG: " + el.dataset.eid);
                },
                dragend: function(el) {
                  console.log("END DRAG: " + el.dataset.eid);
                },
                drop: function(el) {
                  console.log("DROPPED: " + el.dataset.eid);
                }
              },
              {
                title: "Food $40",
                click: function(el) {
                  alert("click");
                },
                class: ["peppe", "bello"]
              }
            ]
          },
          {
            id: "_working",
            title: "Expenses 2019",
            class: "warning",
            item: [
              {
                title: "Rent $100"
              },
              {
                title: "Food $100"
              }
            ]
          },
          {
            id: "_done",
            title: "Estimates2021",
            class: "success",
            dragTo: ["_working"],
            item: [
              {
                title: "Rent $100"
              },
              {
                title: "Food $100"
              }
            ]
          }
        ]
      });

      var toDoButton = document.getElementById("addToDo");
      toDoButton.addEventListener("click", function() {
        KanbanTest.addElement("_todo", {
          title: "Test Add"
        });
      });

      var addBoardDefault = document.getElementById("addDefault");
      addBoardDefault.addEventListener("click", function() {
        KanbanTest.addBoards([
          {
            id: "_default",
            title: "Kanban Default",
            item: [
              {
                title: "Default Item"
              },
              {
                title: "Default Item 2"
              },
              {
                title: "Default Item 3"
              }
            ]
          }
        ]);
      });

      var removeBoard = document.getElementById("removeBoard");
      removeBoard.addEventListener("click", function() {
        KanbanTest.removeBoard("_done");
      });

      var removeElement = document.getElementById("removeElement");
      removeElement.addEventListener("click", function() {
        KanbanTest.removeElement("_test_delete");
      });

      var allEle = KanbanTest.getBoardElements("_todo");
      allEle.forEach(function(item, index) {
        //console.log(item);
      });
    </script>
{% endblock javascript %}

  
