{% extends 'index.html' %}

  {% block content %} 


      


    <h3></h3>
<br>
<br>
<br>

<div class="container">

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Income Statement</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Financial Position</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Cash Flow</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div id="income">

        <form method="post" action="/save/"  enctype="multipart/form-data" class="form" id="post-form1">
        {% csrf_token %}
        <table class="table table-striped">
          <thead>
         
            <tr>
              <th scope="col">#</th>
              <th scope="col">Income Statement For The Period </th>
              <td><input value="Period Date" type="text" class="form-control" name='year1'  ></td>
              <td><input value="Period Date" type="text" class="form-control" name='year2'  ></td>
      
              
            </tr>
          </thead>
          <tbody   id="try">
            <tr>
              <th scope="row">1</th>
              <td>Total Revenue</td>
              {% for value  in revenue %}
              <td><input value={{value}} type="text" class="form-control" name='revenue{{ forloop.counter}}' id="id_revenue{{ forloop.counter}}" ></td>
      
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Total Expenses</td>

              <td><input value=0 type="text" class="form-control" name='expenses1'  ></td>
              <td><input value=1 type="text" class="form-control" name='expenses2'  ></td>
      

            </tr>
      <!--      <tr>
              <th scope="row">2</th>
              <td>Total Expenses</td>
              {% for value  in year %}
              <td><input type="number" value={{value}} class="form-control" id="y{{ forloop.counter}}" ></td>
               {% endfor %}
              
            </tr>  year,revenue,operations,profitTax,tax,profit  --> 
            <tr>
              <th scope="row">3</th>
              <td>Profit from Operations</td>
              {% for value  in operations %}
              <td><input type="text" value={{value}} class="form-control" name="operations{{ forloop.counter}}" ></td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Profit before Tax</td>
              {% for value  in profitTax %}
              <td><input type="text" value={{value}} class="form-control" name="profitTax{{ forloop.counter}}" ></td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Tax</td>
               {% for value  in tax %}
              <td><input type="text" value={{value}} class="form-control" name="tax{{ forloop.counter}}"></td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Income for the Year</td>
              {% for value  in profit %}
              <td><input type="text" value={{value}} class="form-control" name="profit{{ forloop.counter}}"></td>
              {% endfor %}
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Earnings Per Share</td>
                <td><input value=0 type="text" class="form-control" name='earnings1'  ></td>
                <td><input value=0 type="text" class="form-control" name='earnings2'  ></td>    
              </tr>
          </tbody>
        </table>
        <button type="submit" id="add_field_button" class="btn btn-primary">Add Form</button>


      
      
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div id="position">


        <table class="table table-striped">
          <thead>
         
            <tr>
              <th scope="col">#</th>
              <th scope="col">Statement Of Financial Position as at </th>
              <td><input value="Period Date" type="text" class="form-control" name='year1' id='year1'  ></td>
              <td><input value="Period Date" type="text" class="form-control" name='year2' id='year2'  ></td>
      
              
            </tr>
          </thead>
          <tbody id="try_balance">
            <tr>
              <th scope="row">1</th>
              <td>Total Fixed Assets</td>
              {% for value  in totalFixed %}
              <td><input value={{value}} type="text" class="form-control" name='totalFixed{{ forloop.counter}}' id="id_totalFixed{{ forloop.counter}}" ></td>
      
              {% endfor %}
            </tr>
      <!--      <tr>
              <th scope="row">2</th>
              <td>Total Expenses</td>
              {% for value  in year %}
              <td><input type="number" value={{value}} class="form-control" id="y{{ forloop.counter}}" ></td>
               {% endfor %}
              
            </tr>  year,revenue,operations,profitTax,tax,profit  --> 
            <tr>
              <th scope="row">3</th>
              <td>Total Current Assets</td>
              {% for value  in totalCurrent %}
              <td><input type="text" value={{value}} class="form-control" name="totalCurrent{{ forloop.counter}}" ></td>
              {% endfor %}
            </tr>

            <tr>
              <th scope="row">3</th>
              <td>Total  Assets</td>
              {% for value  in totalAssets %}
              <td><input type="text" value={{value}} class="form-control" name="totalAssets{{ forloop.counter}}" ></td>
              {% endfor %}
            </tr>
            <tr> 
              <th scope="row">4</th>
              <td>Total Equity</td>
              {% for value  in totalEquity %}
              <td><input type="text" value={{value}} class="form-control" name="equity{{ forloop.counter}}" ></td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Total Liabilities</td>
               {% for value  in totalLiab %}
              <td><input type="text" value={{value}} class="form-control" name="totalLiab{{ forloop.counter}}"></td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Total Equity and Liabillities</td>
              {% for value  in totals %}
              <td><input type="text" value={{value}} class="form-control" name="total{{ forloop.counter}}"></td>
              {% endfor %}
          </tbody>
        </table>
        <button type="submit" id="add_balance_button" class="btn btn-primary">Add Form</button>
       
        
      
      
      </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div id="income">

        <table class="table table-striped">
          <thead>
         
            <tr>
              <th scope="col">#</th>
              <th scope="col">CashFlow Statement For The Period </th>
              <td><input value="Period Date" type="text" class="form-control" name='year1'  ></td>
              <td><input value="Period Date" type="text" class="form-control" name='year2'  ></td>
      
              
            </tr>
          </thead>
          <tbody class="row_position" id="try_cash">
            <tr>
              <th scope="row">1</th>
              <td>Cash generated from operations</td>
              {% for value  in revenue %}
              <td><input value={{value}} type="text" class="form-control" name='revenue{{ forloop.counter}}' id="id_revenue{{ forloop.counter}}" ></td>
      
              {% endfor %}
            </tr>
      <!--      <tr>
              <th scope="row">2</th>
              <td>Total Expenses</td>
              {% for value  in year %}
              <td><input type="number" value={{value}} class="form-control" id="y{{ forloop.counter}}" ></td>
               {% endfor %}
              
            </tr>  year,revenue,operations,profitTax,tax,profit  --> 
            <tr>
              <th scope="row">3</th>
              <td>Net cash generated from operating activities</td>
              {% for value  in operations %}
              <td><input type="text" value={{value}} class="form-control" name="cashOperations{{ forloop.counter}}" ></td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Net cash used in investing activities</td>
              {% for value  in investing %}
              <td><input type="text" value={{value}} class="form-control" name="cashInvesting{{ forloop.counter}}" ></td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Net cash flows (used in) / from financing activities</td>
               {% for value  in financing %}
              <td><input type="text" value={{value}} class="form-control" name="cashFinancing{{ forloop.counter}}"></td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Cash and cash equivalents at end of year</td>
              {% for value  in netTotal %}
              <td><input type="text" value={{value}} class="form-control" name="netBalance{{ forloop.counter}}"></td>
              {% endfor %}
            </tr>
            
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" id="add_cash_button" class="btn btn-primary">Add Form</button>
       


       
      
      
      </div>
    </form>
    </div>
  </div>  



<div class="container">
     
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0"></h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

     {% for x in ngoni %}
<!--     <div class="col-lg-3 col-md-4 col-6">
    <a href="#" class="d-block mb-4 h-100">{{forloop.counter}}
          <img class="img-fluid img-thumbnail" src={{x}} alt="">
        </a>
  </div> -->
        <div class="col-md-3">
          <div class="card" style="width: 16rem;margin-right:3px;">
            <img src={{x}} class="card-img-top" alt="fialed to load image">
          <div class="card-body">
            <h5 class="card-title">Page: {{forloop.counter}} </h5>
           
            <a href="#" class="btn btn-primary">View</a>
          </div>
          </div>
        </div>
     {% endfor%}
      </div>

  </div> 
<!--   
<div id="my_table" class="tab-content"> {{ ngodza.to_html | safe }} </div>
</div> --> 


   {% endblock %}  

   {% block javascript %}
   <script type="text/javascript">

    $(document).ready( function () {
      $('#MSG').slideUp(3500);
    });

    $( ".row_position" ).sortable({
      stop: function() {
      var selectedData = new Array();
      return selectedData;

              

            $('.row_position>tr').each(function() {

                selectedData.push($(this).attr("id"));

            });

            updateOrder(selectedData);

        }

    });


    function updateOrder(data) {

        $.ajax({

            url:"<?php echo base_url('Welcome/updateMenu');?>",

            type:'post',

            data:{position:data},

            success:function(result){
            	window.location.reload();
             }

        })

    }

</script>

<script type="text/javascript">

  $(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $("#try"); //Fields wrapper
    var add_button      = $("#add_field_button"); //Add button ID
   

 
    
  
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment//add input box
            $(wrapper).append(
             '<tr><th scope="row">0</th><td><input type="text"  class="form-control"  value="Add Field" name="add_name1"></td><td><input type="text"  class="form-control" name="add_value1"></td><td><input type="text"  class="form-control" name="add_value2"></td></tr>'
            );
            $(wrapper).append(
             '<tr><th scope="row">0</th><td><input type="text"  class="form-control"  value="Add Field" name="add_name2"></td><td><input type="text"  class="form-control" name="add_value3"></td><td><input type="text"  class="form-control" name="add_value4"></td></tr>'
            );
        }
    });
  
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
  });

   $(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $("#try_balance"); //Fields wrapper
    var add_button      = $("#add_balance_button"); //Add button ID
   

 
    
  
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment//add input box
            $(wrapper).append(
             '<tr><th scope="row">0</th><td><input type="text"  class="form-control"  value="Add Field" name="addB_name1"></td><td><input type="text"  class="form-control" name="addB_value1"></td><td><input type="text"  class="form-control" name="addB_value2"></td></tr>'
            );
            $(wrapper).append(
             '<tr><th scope="row">0</th><td><input type="text"  class="form-control"  value="Add Field" name="addB_name2"></td><td><input type="text"  class="form-control" name="addB_value3"></td><td><input type="text"  class="form-control" name="addB_value4"></td></tr>'
            );
        }
    });
  
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
  });

  
</script>
<script type="text/javascript">

  $(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $("#try_cash"); //Fields wrapper
    var add_button      = $("#add_cash_button"); //Add button ID
   

 
    
  
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment//add input box
            $(wrapper).append(
             '<tr><th scope="row">0</th><td><input type="text"  class="form-control"  value="Add Field" name="addC_name1"></td><td><input type="text"  class="form-control" name="addC_value1"></td><td><input type="text"  class="form-control" name="addC_value2"></td></tr>'
            );
            $(wrapper).append(
             '<tr><th scope="row">0</th><td><input type="text"  class="form-control"  value="Add Field" name="addC_name2"></td><td><input type="text"  class="form-control" name="addC_value3"></td><td><input type="text"  class="form-control" name="addC_value4"></td></tr>'
            );
        }
    });
  
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
  });

  
</script>


<script type="text/javascript">

 $(document).ready( function () {
   $('#MSG').slideUp(3500);
 });

 $( ".row_position_balance" ).sortable({
   stop: function() {
   var selectedData = new Array();
   return selectedData;

           

         $('.row_position>tr').each(function() {

             selectedData.push($(this).attr("id"));

         });

         updateOrder(selectedData);

     }

 });


 function updateOrder(data) {

     $.ajax({

         url:"<?php echo base_url('Welcome/updateMenu');?>",

         type:'post',

         data:{position:data},

         success:function(result){
           window.location.reload();
          }

     })

 }

</script>





 <script type="text/javascript">

  $(document).ready(function() {
    $("#post-form1").submit(function(event) {
       event.preventDefault();
       $.ajax({ data: $(this).serialize(), 
                type: $(this).attr('method'), 
                url: $(this).attr('action'), 
                success: function(response) {
                     console.log(response);
                     if(response['success']) {
                         $("#feedbackmessage").html("<div class='alert alert-success'>
                                       Succesfully sent feedback, thank you!</div>");
                         $("#feedbackform").addClass("hidden");
                     } 
                     if(response['error']) {
                         $("#feedbackmessage").html("<div class='alert alert-danger'>" +
                         response['error']['comment'] +"</div>");
                     } 
                },
                error: function (request, status, error) {
                     console.log(request.responseText);
                }
       });
   });
})






 
 
 
 </script>


 <script>

  $(document).ready(function() {
      $("#feedbackform").submit(function(event) {
         event.preventDefault();
         $.ajax({ data: $(this).serialize(), 
                  type: $(this).attr('method'), 
                  url: $(this).attr('action'), 
                  success: function(response) {
                       console.log(response);
                       if(response['success']) {
                           $("#feedbackmessage").html("<div class='alert alert-success'>
                                         Succesfully sent feedback, thank you!</div>");
                           $("#feedbackform").addClass("hidden");
                       } 
                       if(response['error']) {
                           $("#feedbackmessage").html("<div class='alert alert-danger'>" +
                           response['error']['comment'] +"</div>");
                       } 
                  },
                  error: function (request, status, error) {
                       console.log(request.responseText);
                  }
         });
     });
  })


</script>

 

  {% endblock javascript %}

 